# Python
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/

# Data & models 
data/raw/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep
ml/artifacts/*
!ml/artifacts/.gitkeep

# Env
.env

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/